<div *ngIf="product" class="grid-container">
  <mat-card>
    <mat-card-content class="container-card">
      <mat-grid-list cols="{{colNum}}" rowHeight="450px">

        <mat-grid-tile [colspan]="1">
          <img class="image-div" src="{{product.image}}" alt="{{product.name}}" />
        </mat-grid-tile>

        <mat-grid-tile [colspan]="math.max(1, colNum - 2)" [rowspan]="math.min(2, 4 - colNum)">
          <mat-card class="explanation-card">
            <mat-card-header>
              <mat-card-title>{{product.name}}</mat-card-title>
              <mat-card-subtitle>Product</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="explanation-card-content">
              {{product.description}}
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>

      <mat-card-actions align="end">
        <button mat-button routerLink="/product/{{product.id}}/edit">EDIT</button>
        <button mat-button (click)="delete(product.id)">DELETE</button>
      </mat-card-actions>

    </mat-card-content>
  </mat-card>

  <button mat-button color="primary" (click)="goBack()"><mat-icon>arrow_back</mat-icon>BACK</button>

</div>
