<div class="container">
  <mat-card class="container-card">

    <mat-card-header>
      <mat-card-title>{{id ? productForm.get('name')!.value : 'New Product'}}</mat-card-title>
      <mat-card-subtitle>{{id ? 'Edit' : 'Add'}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="content">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="product-form">

        <!--  <label for="id">Id: </label>-->
        <!--  <input id="id" type="number" formControlName="id">-->

        <mat-form-field class="product-full-width">
          <mat-label>Name: </mat-label>
          <input matInput id="name" type="text" formControlName="name" placeholder="AirPods Pro 2021">
          <mat-error *ngIf="productForm.get('name')!.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="product-full-width">
          <mat-label for="description">Description: </mat-label>
          <textarea matInput id="description" type="text" formControlName="description" placeholder="Personalized Spatial Audio..."></textarea>
          <mat-error *ngIf="productForm.get('description')!.hasError('required')">
            Description is <strong>required</strong>
          </mat-error>
        </mat-form-field>

<!--        <mat-form-field class="product-full-width">-->
<!--          <mat-label for="image">Image: </mat-label>-->
<!--          <input matInput id="image" type="text" formControlName="image" placeholder="base64;sdfdsf">-->
<!--          <mat-error *ngIf="productForm.get('image')!.hasError('required')">-->
<!--            Image is <strong>required</strong>-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->

        <img mat-card-image src="{{this.productForm.value['image']}}" alt="{{this.productForm.value['name']}}" class="card-image">

        <input type="file" id="file" (change)="handleImageUpload($event)" class="form-control-file" required="">

        <mat-card-actions align="end">
          <button mat-button type="submit" [disabled]="!productForm.valid">SUBMIT</button>
        </mat-card-actions>

      </form>
    </mat-card-content>
  </mat-card>
</div>

<button mat-button color="primary" (click)="goBack()"><mat-icon>arrow_back</mat-icon>BACK</button>
